/* src/App.css */

.App {
  display: flex;
}

.content {
  margin-left: 250px; /* Account for sidebar width */
  padding: 20px;
  width: 100%;
  background-color: #f7fafc; /* Light background color for the content area */
}

